* 
{
  box-sizing: border-box;
}

.site-title {
  font-size: 2rem;
}

.nav {background-color: beige;
display:flex;

padding: 1rem 5rem;}


.nav a {
  color:inherit;
  margin-left: 10px;
  text-decoration: none;

}
